<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CurrencyTextBox" version="1.4.3" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.15" targetFramework="net461" />
</packages>